<app-navbar></app-navbar>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control search-input" placeholder="Rechercher un produit" aria-label="Rechercher un produit" [(ngModel)]="searchTerm" (input)="searchProducts()">
          <div class="input-group-append">
         
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- Affichage des produits -->
<!-- Template HTML pour afficher les produits avec le bouton Like -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of listeProduits">
  <!--    <div class="card mb-4 shadow-sm product-card" [ngClass]="{'selected': product === selectedProduct}" (click)="expandCard(product)">-->
        <img class="card-img-top product-image" [src]="product.picturePr" alt="Image du produit">
        <div class="card-body">
          <h5 class="card-title">Name : {{ product.namePr }}</h5>
          <p class="card-text">Price :  {{ product.pricePr }}</p>
          <p class="card-text">Quantity : {{ product.quantityPr }}</p>
          <p class="card-text">Catégorie : {{ product.categoriePr }}</p>
          <p class="card-text">Description : {{ product.descriptionPr }}</p>
          <p class="card-text">Status : {{ product.statusPr }}</p>
          <div>
            <button (click)="addLikeToProduct(product.idPr)">
              <span>{{ product.likeCount }}</span> <!-- Affiche le nombre de likes pour le produit -->
              <i class="fa fa-heart" aria-hidden="true"></i> <!-- Affiche l'icône du cœur -->
            </button>
            
        </div>
        

        <!--   <div class="like-section">
            <button (click)="addLike(userId, product.idPr)" class="like-button">
              <i class="bi bi-heart"></i> Icone du coeur 
            </button>
            <span class="like-count">{{ product.likeCount }}</span>
          </div>-->
          <div class="d-flex flex-column align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-success mb-2">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


         
            



  <div *ngIf="selectedProduct" class="expanded-card">
    <!-- Contenu de la carte agrandie -->
    <img class="card-img-top product-image" [src]="selectedProduct.picturePr" alt="Image du produit">
    <div class="card-body">
      <h5 class="card-title">Nom : {{ selectedProduct.namePr }}</h5>
      <p class="card-text">Prix : {{ selectedProduct.pricePr }}</p>
      <p class="card-text">Catégorie : {{ selectedProduct.categoriePr }}</p>
      <!-- Autres détails du produit -->
    </div>
  
    <!-- Champ de commentaire -->
    
    <!-- Bouton de fermeture de la carte agrandie 
    <button type="button" class="btn btn-danger mt-3" (click)="closeExpandedCard()">Fermer</button>
  </div>-->
  


  