body{
   /* background-image: url('file:C:/Users/ASUS/Desktop/gg.jpg'); */
    background-size: 100% 100%; /* Enlarge the background image to cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the background image */

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1000px;
    background-color: rgba(242, 242, 242, 0.3); /* Couleur de fond transparente */
    backdrop-filter: blur(10px); /* Ajouter un flou */
}

  
  .product-details {
    display: flex;
    justify-content: space-between;
    width: 900px; /* Largeur automatique */
    height: 700px;
    

    align-items: center; /* Centrer verticalement le contenu */

  }
  

  .product-info {
    flex: 1;
    border: 2px solid #ccc;
    padding: 20px;
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrer horizontalement le contenu */
    background-color: white;
  }
  .product-info h1 {
    font-size: 24px; /* Agrandir la taille de police */
    color: black; /* Changer la couleur du texte en noir */
  }
  .product-info h2 {
    font-size: 50px; /* Agrandir la taille de police */
    color: black; /* Changer la couleur du texte en noir */
  }
  
  .product-info p {
    font-size: 18px; /* Agrandir la taille de police */
    color: black; /* Changer la couleur du texte en noir */
    font-weight: bold; /* Mettre le prix en gras */
    margin-bottom: 10px; /* Ajouter un espace en bas */
  }
  
  .product-image {
    margin-right: 10px; /* Ajoute un espace entre les deux cadres */
    background-color: #e1e3e5;
    flex: 1; /* Les deux cadres occupent la même largeur */
    border: 2px solid #ccc;
    padding: 20px;
    width: 150%; /* Largeur à 100% */
    height: 700px; /* Hauteur fixe */

}
  
  .product-image img {
    width: 100%;
    height: 600px;
  }

  .back-to-shop-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 610px;
    right: 180px;
}

.back-to-shop-btn:hover {
    background-color: #0056b3;
}
