<div class="CheckoutCard">
<form [formGroup]="stripeTest" (ngSubmit)="submitPayment()">
    <label for="name">Name on Card</label>
    <input type="text" formControlName="name" id="name" required>
    
    <div ngxStripeCardGroup>
        <label for="cardNumber">Card Number</label>
        <ngx-stripe-card-number #cardNumber></ngx-stripe-card-number>
    </div>
  
    <div ngxStripeCardGroup>
        <label for="expDate">Expiration Date (MM/YYYY)</label>
        <input type="text" formControlName="expDate" id="expDate" required placeholder="MM/YY">
    </div>
  
    <label for="cvc">CVC</label>
    <input type="text" formControlName="cvc" id="cvc" required>
  
    <button type="submit" >
        <div class="container">
            <div class="left-side">
              <div class="card">
                <div class="card-line"></div>
                <div class="buttons"></div>
              </div>
              <div class="post">
                <div class="post-line"></div>
                <div class="screen">
                  <div class="dollar">$</div>
                </div>
                <div class="numbers"></div>
                <div class="numbers-line2"></div>
              </div>
            </div>
            <div class="right-side">
              <div class="new">Checkout</div>
            </div>
          </div>
          
    </button>
</form>

</div>