/* get-plan-user.component.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
}

body {
  background:  black;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-image {
  width: 100%; /* Adjust image width to fit the card */
  height: 150px; /* Adjust image height as needed */
  object-fit: cover; /* Ensure the image covers the entire space */
}
.workoutplan{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  width: 100%;
  background-color: black;
  padding-bottom: 200px  /* Add padding at the bottom to prevent overlap with footer */

}
.footer-workout {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0px;
  background: black;
  margin: 0;
}
.card-header {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  align-items: center;
}
.btncardclass{
  background-color: transparent;
  border: 0;
}

 /* Add custom CSS for horizontal scrolling */
.filter-container {
  margin-top: 150px;
}

.category-container {
  position: relative;
  overflow-x: hidden; /* Hide overflow */
  white-space: nowrap;
  margin-bottom: 20px;
}

.workout-scroll-container {
  display: flex;
  width: calc(100% - 60px); /* Occupy full width with space for scroll buttons */
  overflow-x: auto; /* Allow horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.workout-card {
  width: 150px; /* Adjust card width */
  height: 150px; /* Adjust card height */
  margin-right: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
}

.workout-card:last-child {
  margin-right: 0;
}

.card-image-container {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin: 0;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}
