@import "../../../assets/back/vendors/mdi/css/materialdesignicons.min.css";
@import "../../../assets/back/vendors/css/vendor.bundle.base.css";
@import "../../../assets/back/vendors/flag-icon-css/css/flag-icon.min.css";
@import "../../../assets/back/vendors/jvectormap/jquery-jvectormap.css";
@import "../../../assets/back/vendors/owl-carousel-2/owl.carousel.min.css";
@import "../../../assets/back/vendors/owl-carousel-2/owl.theme.default.min.css";
@import "../../../assets/back/css/style.css";

*{
    height: 75px;
    background-color: #191c24;
    margin: 2px;

}

#createbuttonDropdown{
    margin: 8px;
height: 40px;

}
.navbar-profile{
    margin: -9px;
    }