<body>
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let periodTracker of periodTrackers">
        <div class="box">
          <div data-position="top" class="carousel">
            <span class="carousel__text"
              >• Your Period data  • Your Period data  • Your Period data  • Your Period data  •
              Your Period data  • Your Period data </span
            >
          </div>
          <div class="start-date-title custom-title">
            <div class="nine">
              <h4>Start Date :</h4>
            </div>
          </div>
          <p class="card-text">{{ periodTracker.startDate }}</p>
        
          <div class="cycle-length-title custom-title">
            <div class="nine">
              <h4>Cycle Length :</h4>
            </div>
          </div>
          <p class="card-text">{{ periodTracker.cycleLength }}</p>
          <div class="cycle-length-title custom-title">
            <div class="nine">
              <h4>Period Length :</h4>
            </div>
          </div>
          <p class="card-text">{{ periodTracker.periodLength }}</p>
        
          <div class="mood-title custom-title">
            <div class="nine">
              <h4>Mood :</h4>
            </div>
          </div>
          <p class="card-text">{{ periodTracker.mood }}</p>
        
          <div class="symptoms-title custom-title">
            <div class="nine">
              <h4>Symptoms :</h4>
            </div>
          </div>
          <div *ngFor="let symptomRatings of periodTracker.symptomRatings">
            <p class="card-text">{{ symptomRatings.symptom }}: {{ symptomRatings.rating }}</p>
          </div>
            <div class="medications-title custom-title">
            <div class="nine">
              <h4>Medications :</h4>
            </div>
          </div>
          <p class="card-text">{{ periodTracker.medications }}</p>
          <div class="card-buttons">
           
            <button class="edit-button" (click)="updatePeriodInformation(periodTracker.idPeriod)">
              <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                              </svg>
            </button>
            <button class=" btn-archive" (click)="archivePeriod(periodTracker.idPeriod)">Archive</button>
            <button class="btn-insights" (click)="getCyclePhase(periodTracker.idPeriod)">
              <span>Get insights</span>
              <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                  <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
              </svg>
          </button>
            <div data-direction="right" data-position="bottom" class="carousel">
              <span class="carousel__text"
                >• Your Period data  •  Your Period data •  Your Period data •  Your Period data •
                Your Period data •  Your Period data</span
              >
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<app-footer></app-footer>
</body>