body {
    background:  url('../../assets/images/periodd.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .container {
    
    position: relative;
    font-family: sans-serif;
    position: relative; /* Maintain relative positioning */
    padding: 150px;
    top: 150; /* Adjust the value to move the container up or down */
    left : 300px;
    
  }
  
  
  
  
  .container::before,
  .container::after {
    content: "";
    background-color: #e3e2e017;
    position: absolute;
  }
  
  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container .box {
    width: 25em;
    height: 80em;
    padding: 1rem;
    background-color: rgba(11, 10, 10, 0.63);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
    right:50px;
    overflow: hidden;
  
  }
  
  
  .container .box div p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
  }
  
  .container .box div span {
    font-size: 0.7rem;
    font-weight: 300;
  }
  
  
  
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #53c3043f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }
  
  .container .col-lg-4,
  .container .col-md-6 {
    margin-bottom: 20px; /* Adjust the value as needed */
  }
  .container .col-lg-4,
  .container .col-md-6 {
    margin-left: 120px; /* Adjust the value as needed */
  }
  .card {
    width: 320px;
    height: 150px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
    left:25px;
  }
  
  .card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card .mail svg {
    stroke: #709b12;
    stroke-width: 3px;
  }
  
  .card .mail svg:hover {
    stroke: #709b12;
  }
  
  .card .profile-pic {
    position: absolute;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid #709b12;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 50%;
    height: 50%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .profile-pic svg {
    width: 50%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: #709b12;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card .bottom .content .name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
  }
  
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  }
  
  .card .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .card .bottom .bottom-bottom .social-links-container svg:hover {
    fill: #f55d56;
    transform: scale(1.2);
  }
  
  .card .bottom .bottom-bottom .button {
    background: white;
    color: #fbb9b6;
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .card .bottom .bottom-bottom .button:hover {
    background: #f55d56;
    color: white;
  }
  
  .card:hover {
    border-top-left-radius: 55px;
  }
  
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card:hover .profile-pic {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 6px solid #1b2c02;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }

  .ovulation-container {
    display: flex;
    flex-direction: row; /* Display items horizontally */
    justify-content: space-around; /* Add space between items */
  }





  .ovulation {
    --bg: #f2f3e3;
    --hover-bg: #e9f0dd;
    --hover-text: #92cb20;
    max-width: 15ch;
    max-height: 15ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top:5ch;
    
  }
  
  .ovulation__body {
    color: #464853;
    line-height: 1.5em;
    font-size: 1em;
  }
  
  .ovulation > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
  }
  
  .ovulation > strong {
    display: block;
    font-size: 1.2rem;
    letter-spacing: -.035em;
    color: #98c537;
  }
  
  .ovulation span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
  }
  
  .ovulation:hover span {
    top: 0;
    font-size: 1.2em;
  }
  
  .ovulation:hover {
    background: var(--hover-bg);
  }
  
  .ovulation:hover>div,.ovulation:hover>strong {
    opacity: 0;
  }
  img[alt="Chatbot"] {
    cursor: pointer; /* Change cursor to pointer on hover */
    width: 250px; /* Set width of the chatbot icon */
    height: 250px;
    margin-left:200px;
   top:300px;
     /* Set height of the chatbot icon */
  }
  
  /* Apply styles when hovering over the chatbot icon */
  img[alt="Chatbot"]:hover {
    opacity: 0.8; /* Reduce opacity to indicate interactivity */
  }
  





  .card_chat {
    width: 260px;
    background-color: #6a6d6aeb;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 11px;

  }
  
  .chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-window {
    height: 220px;
    overflow-y: scroll;
  }
  

  .message-box.user {
    background-color: #edf3ed; /* Green background for user messages */
    color: #fefdfd;
    align-self: flex-start;
    font-size: 12px;

  }
  
  .message-box.bot {
    background-color: #454544; /* Blue background for chatbot messages */
    color: #fff;
    align-self: flex-end;
    font-size: 12px;

  }
  .message-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 11px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }

  .chatbot-container {
    position: absolute;
    top: 130px; /* Adjust the distance from the top as needed */
    left: 400px; /* Adjust the distance from the right as needed */
  }
  
  .chatbot-img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    cursor: pointer;
    /* Add pointer cursor to indicate interactivity */
  }


  .card_exercise {
    overflow: visible;
    width: 250px;
    height: 354px;
    margin-bottom: 10px;
    margin-left:55px;
  }
  
  .contentt {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #a5c70d, #a5c70d, #a5c70d, #a5c70d, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .card_exercise:hover .contentt {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title_exercise {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    color:white;
  }
  
  .title_exercise p {
    width: 50%;
    color:white;

  }
  
  .card_exercise-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle_exercise {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffe366;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #749c07;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #df9b47;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  .item-hints {
    --purple: #720c8f;
    cursor: pointer;
    justify-content: flex-start;
    padding-right: 200px;
    padding-top:-340px ;
  }
  .item-hints .hint {
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 180px;
    right:1150px;
  
  }
  
  .item-hints .hint-dot {
    z-index: 3;
    border: 1px solid #ffe4e4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-0%, -0%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
  
  }

  .hint-content {
    background-color: #f6f7f5; /* Background color */
    border: 1px solid #3f5c0c; /* Border */
    border-radius: 5px; /* Border radius */
    padding: 20px; /* Padding */
    margin: 10px 10px; /* Margin */
    font-size: 20px; /* Font size */
    margin-left:10px;
  }
  .hint-content h3{
    color :#000000
  }
  .hint-dot span{
    color: #000000;
    font-size: 12px;
  }
  
  .custom-color {
    color: #eef4ea; /* Text color */
  }
  .item-hints .hint-radius {
    background-color: rgba(255, 255, 255, 0.912);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .item-hints .hint[data-position="1"] .hint-content {
    top: 180px;
    left: 50%;
    margin-left: 56px;
  
  }
  .item-hints .hint-content {
    width: 300px;
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 0;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
  
  }
  .item-hints .hint:hover .hint-content {
    position: absolute;
    z-index: 5;
    padding: 35px 0;
    opacity: 1;
    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    color: #fff;
    visibility: visible;
    pointer-events: none;
  }
  .item-hints .hint-content::before {
    width: 0px;
    bottom: 29px;
    left: 0;
    content: "";
    background-color: #fff;
    height: 1px;
    position: absolute;
    transition: width 0.4s;
  }
  .item-hints .hint:hover .hint-content::before {
    width: 180px;
    transition: width 0.4s;
  }
  .item-hints .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-225deg);
    bottom: 29px;
    left: 0;
    width: 80px;
    content: "";
    background-color: #fff;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .item-hints .hint:hover .hint-content::after {
    opacity: 1;
    visibility: visible;
  }
  .item-hints .hint[data-position="4"] .hint-content {
    bottom: 20px;
  }
  .recipes {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #4d8809, #e4ef84, #ffeb3b, #1c3210);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    margin-top: 40px;
    margin-left: 110px;

  }
  
 .recipes:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
   .recipes:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #76b80d, #99c908, #ffeb3b, #e2b856);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
   .recipes:hover::before {
    filter: blur(20px);
  }
  
   .recipes:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  }
  
  
  
  
  
  