<app-navbar></app-navbar>
<br><br>
<br>
<br>
<div *ngIf="commandelines.length > 0; else noCommandelines">
    <h2>Command Lines in Cart</h2>
    <div class="container">
      <table id="cart" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commandeline of commandelines">
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img [src]="cartService.getImageUrl(commandeline.product.picturePr)" alt="Product Image" class="img-responsive" style="max-width: 100px; max-height: 100px; " /></div>
                <div class="col-sm-10">
                  <h4 class="nomargin">{{ commandeline.product.namePr }}</h4>
                  <p>{{ commandeline.product.descriptionPr }}</p>
                </div>
              </div>
            </td>
            <td data-th="Price">{{ commandeline.product.pricePr }}</td>
            <td data-th="Quantity">
              <input type="number" class="form-control text-center" [(ngModel)]="commandeline.quantity" />
            </td>
            <td data-th="Subtotal" class="text-center">{{ commandeline.product.pricePr * commandeline.quantity }}</td>
            <td class="actions" data-th="">
              <button class="btn btn-info btn-sm" (click)="updateQuantity(commandeline.idOrder, commandeline.quantity)"><i class="fa fa-refresh"></i></button>
              <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="visible-xs">
            <td class="text-center"><strong>Total  {{ getTotalPrice() }}</strong></td>
          </tr>
          <tr>
            <td><a routerLink="../showProductUser" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>

            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total  {{ getTotalPrice() }}</strong></td>
            <td><a (click)="openStripeDialog()" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
  <ng-template #noCommandelines>
    <p>No command lines found in the cart.</p>
  </ng-template>
  
  
  
<!--
<div *ngFor="let product of cartItems">
    <div class="command-line">
      <div class="product-details">
        <img [src]="product.imageUrl" alt="Product Image">
        <h3>{{ product.name }}</h3>
        <p>Prix : {{ product.price }}</p>
      </div>
      <div class="quantity">
        <label for="quantity{{ product.id }}">Quantité :</label>
        <input type="number" id="quantity{{ product.id }}" [(ngModel)]="product.quantity">
      </div>
      <div class="total">
        <p>Total : {{ product.price * product.quantity }}</p>
      </div>
      <button >Supprimer</button>
    </div>
  </div> -->
