<div *ngIf="food" class="food-details-container">
    <h2 class="food-title">{{ food.title }}</h2>
    <div class="food-image-container">
        <img [src]="food.foodPic" alt="Food Image" class="food-image">
    </div>
    <div class="food-info">
        <p><strong>Category:</strong> {{ food.category }}</p>
        <p><strong>Calories:</strong> {{ food.calories }}</p>
        <p><strong>Glucides:</strong> {{ food.glucides }}</p>
        <p><strong>Protein:</strong> {{ food.protein }}</p>
        <p><strong>Lipides:</strong> {{ food.lipides }}</p>
        <p><strong>Ingredients:</strong> {{ food.ingredients }}</p>
    </div>
</div>
