<div>
  <h2>Edit Product</h2>
  <form (ngSubmit)="updateProduct()" #productForm="ngForm">
    <div class="form-group">
      <label for="name">Name :</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="productData.namePr" required>
    </div>
    <div class="form-group">
      <label for="category">Category :</label>
      <select class="form-control" id="category" name="category" [(ngModel)]="productData.categoriePr" required>
          <option value="NUTRITION">NUTRITION</option>
          <option value="Fitness_Equipement">Fitness Equipment</option>
          <option value="Mentall_wellbeing">Mental Well-being</option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Price :</label>
      <input type="number" class="form-control" id="price" name="price" [(ngModel)]="productData.pricePr" required>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity :</label>
      <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="productData.quantityPr">
    </div>
    <div class="form-group">
      <label for="description">Description :</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="productData.descriptionPr"></textarea>
    </div>
    <div class="form-group">
      <label for="status">Status :</label>
      <select class="form-control" id="status" name="status" [(ngModel)]="productData.statusPr" required>
          <option value="AVAILABLE">AVAILABLE</option>
          <option value="NOT AVAILABLE">NOT AVAILABLE</option>
      </select>
    </div>
   
    <div class="form-group">
      <label for="image">Image :</label>
      <input type="file" class="form-control-file" id="image" name="image" (change)="onFileChange($event)" accept="image/*">
      <div *ngIf="imagePreview">
          <img [src]="imagePreview" alt="Product image" style="max-width: 100%; max-height: 200px;">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit Product</button>
  </form>
</div>

