/* Recipe section styles */
.container-recipes {
    display: flex;
    flex-direction: column;
    padding-top: 100px; /* Adjust as needed to create space below the fixed navbar and button */
    width: 100%;
    overflow: hidden; /* Hide overflow */
}

.recipe-scroll-container {
    display: flex;
    width: calc(100% - 60px); /* Occupy full width with space for scroll buttons */
    overflow-x: auto; /* Allow horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.recipe-scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.recipe-card-container {
    display: flex; /* Display cards in a row */
    gap: 10px; /* Adjust spacing between cards */
}

.recipe-card {
  position: relative;
  flex: 0 0 auto; /* Prevent card from shrinking */
  width: 400px; /* Adjust card width */
  height: 650px; /* Adjust card height */
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08), -4px -4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.5s;
  cursor: pointer;
  box-sizing: border-box;
  perspective: 1000px; /* Add perspective for 3D effect */
}

.recipe-card:hover .card-front {
  transform: rotateY(-180deg);
}

.recipe-card:hover .card-back {
  transform: rotateY(0deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  overflow-y: auto; /* Add vertical scrollbar */
  height: 650px; /* Adjust the height as needed */
}

.card-back::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}


.card-image-container {
    width: 100%;
    height: 60%; /* Adjust the height of the image part */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    margin: 0;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.calories {
    margin: 0;
    padding: 8px;
    font-size: 12px;
    color: #888;
    text-align: center;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 1;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

body {
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Center content horizontally */
    overflow-x: hidden;
}
