<div class="card" style="max-width: 400px;">
    <div class="card-header">
        Exercise Form
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="exerciseForm" enctype="multipart/form-data">

            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" formControlName="title" class="form-control" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description" class="form-control" placeholder="Enter description"></textarea>
            </div>
            <div class="form-group">
                <label for="typeEx">Exercise Type:</label>
                <input type="text" id="typeEx" formControlName="typeEx" class="form-control" placeholder="Enter exercise type">
            </div>
            <div class="form-group">
                <label for="bodypart">Body Part:</label>
                <input type="text" id="bodypart" formControlName="bodypart" class="form-control" placeholder="Enter body part">
            </div>
            <div class="form-group">
                <label for="intensity">Intensity:</label>
                <select id="intensity" formControlName="intensity" class="form-control">
                    <option *ngFor="let int of intensity" [value]="int">{{ int }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sets">Sets:</label>
                <input type="number" id="sets" formControlName="sets" class="form-control" placeholder="Enter number of sets">
            </div>
            <div class="form-group">
                <label for="reps">Reps:</label>
                <input type="number" id="reps" formControlName="reps" class="form-control" placeholder="Enter number of reps">
            </div>
        <div class="form-group">
          <label for="picture">Picture:</label>
          <div class="custom-file">
            <input type="file" id="picture" (change)="($event)" class="custom-file-input">
            <label class="custom-file-label" for="picture">Choose an image</label>
          </div>
          <img *ngIf="selectedFile" [src]="getSelectedFileUrl()" alt="Selected Image" class="img-fluid mt-3">
          <small *ngIf="!selectedFile && exerciseForm.get('picture')?.invalid && exerciseForm.get('picture')?.touched" class="text-danger">Please choose an image file.</small>
        </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
