/* Custom CSS for Exercise Table */
.exercise-table-container {
  margin-top: 20px;
}

.exercise-row:hover {
  background-color: transparent;
  cursor: pointer;
}

.exercise-image {
  width: 100px; /* Fix the width */
  height: 100px; /* Fix the height */
  border-radius: 50%; /* Ensure circular shape */
  object-fit: cover; /* Maintain aspect ratio */
}

.no-exercises-message {
  margin-top: 20px;
  text-align: center;
  color: #999;
}

/* Styles CSS */
.btn-blue {
  color: blue;
  margin-right: 5px; /* Espacement entre les boutons */
}

.button-container {
  text-align: right;
  margin-bottom: 10px;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.exercise-row.archived {
  background-color: #ffe1de;
  color: white;
}

.exercise-row.non-archived {
  background-color: #defdef;
  color: white;
}

/* Adjust table layout and cell width */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse; /* Ensure borders collapse properly */
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap; /* Prevent text wrapping by default */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis;
  word-wrap: break-word; /* Add ellipsis for overflow content */
}

/* Allow table title to wrap onto multiple lines */
th.title {
  white-space: normal; /* Allow text to wrap */ /* Limit the maximum width */
  word-wrap: break-word;
  width: 150px/* Enable word wrapping */ /* Allow overflow content to be visible */ /* Remove ellipsis */
}

/* Pagination controls */
.pagination-controls {
  margin-top: 20px;
  text-align: center; /* Center align the pagination controls */
}

.pagination-controls button,
.pagination-controls span {
  display: inline-block; /* Ensure buttons and page number are displayed inline */
  vertical-align: middle; /* Align elements vertically */
  margin: 0 5px; /* Add some spacing between elements */
}
.button-wrapper {
  display: flex;
  align-items: center;
}

.button-wrapper .btn {
  margin-right: 5px;
}
