<div class="exercise-table-container">
  <h2>Exercise Table</h2>
  <div class="button-container">
    <button class="btn btn-primary" routerLink="/admin/exercise">
      <i class="fa fa-plus"></i> Add Exercise
    </button>
  </div>
  <table class="table table-bordered table-hover">
    <colgroup>
      <col style="width: 11.11%;">
      <col style="width: 20%;">
      <col style="width: 11.11%;">
      <col style="width: 11.11%;">
      <col style="width: 11.11%;">
      <col style="width: 11.11%;">
      <col style="width: 11.11%;">
      <col style="width: 11.11%;">
      <col style="width: 11.11%;">
    </colgroup>
    <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th>Body Part</th>
      <th>Intensity</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exercises" class="exercise-row" [ngClass]="{'archived': exercise.archived, 'non-archived': !exercise.archived}">
      <td class="titleExercise">{{ exercise.title }}</td>
      <td class="descriptionExercise">{{ exercise.description }}</td>
      <td class="typeEx">{{ exercise.typeEx }}</td>
      <td>{{ exercise.bodypart }}</td>
      <td>{{ exercise.intensity }}</td>
      <td>{{ exercise.sets }}</td>
      <td>{{ exercise.reps }}</td>
      <td>
        <img [src]="exercise.picture" alt="Exercise Image" class="exercise-image img-fluid">
      </td>
      <td class="button-wrapper">
        <button class="btn" (click)="editExercise(exercise)">
          <i class="fa fa-edit" style="color:black; font-size: 17px;"></i>
        </button>
        <button class="btn" (click)="deleteExercise(exercise)">
          <i class="fa" [ngClass]="{'fa-archive fa-lg': !exercise.archived, 'fa-undo fa-lg': exercise.archived}"
             style="color:black; font-size: 15px;"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="pagination-controls">
    <button class="btn btn-pagination" (click)="previousPage()" [disabled]="currentPage === 0">
      <i class="fa fa-chevron-left"></i>
    </button>
    <span>{{ currentPage + 1 }} of {{ totalPages }}</span>
    <button class="btn btn-pagination" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
<div *ngIf="showDeleteAlert" class="delete-alert">
  <p>Are you sure you want to delete this exercise?</p>
  <button class="btn btn-danger" (click)="deleteConfirmed()">Yes</button>
  <button class="btn btn-secondary" (click)="cancelDelete()">No</button>
</div>
<div *ngIf="exercises.length === 0" class="no-exercises-message">
  <div class="alert alert-warning" role="alert">
    No exercises found.
  </div>
</div>
