<div class="community">
    
    <div class="cc">
        <br>
        <br><br>
        <br>
        <br>
        
        <br>
        <h3 class="CName">{{ClasseName}}</h3>
        <h4 class="CName">{{creatorName}} </h4>
        
    </div>
        <!--
            <div class="topThree"
            <ul *ngFor="let a in firstThree">
                <li>
                    <tr>
                    <td>{{a.firstName}}</td>
                    <td>{{a.lastName}}</td>
                    </tr>
                </li>
            </ul>
        </div>
        -->
        <br><br><br>
        <router-outlet></router-outlet>
        <div *ngIf="divTest">
   <app-communication [idFromParent]="communityId"></app-communication>
        </div>
        
    
    <div class="button-container">
        <button type="button" class="btn bg-gradient-success" [routerLink]="['addChallenge',communityId]">Add Challenge</button>
        
        <button type="button" class="btn bg-gradient-success" [routerLink]="['/app/updateCommunity',communityId]">Update</button>
        <button type="button" class="btn bg-gradient-success" (click)="deleteCommunity()">Delete Community</button>
    
        
    </div>

    <br>
 
        
        
       

