<div class="form-container" *ngIf="step === 1">
    <h2>Welcome to Goal Setting</h2>
<p>Let's get started by setting your details:</p>

<div class="form-group row">
    <label for="weight" class="col-sm-3 col-form-label">Weight(KG)</label>
    <div class="col-sm-9">
        <input type="number" class="form-control" id="weightEdit" name="weight" [(ngModel)]="data.userProfile.weight" value="{{data.userProfile.weight}}">
    </div>
</div>
<div class="form-group row">
    <label for="height" class="col-sm-3 col-form-label">Height(CM)</label>
    <div class="col-sm-9">
        <input type="number" class="form-control" id="heightEdit" name="height" [(ngModel)]="data.userProfile.height" value="{{data.userProfile.height}}">
    </div>
    <button  (click)="UpdateUser()" >Continue</button>
</div>
</div>
<div class="form-container" *ngIf="step==2" >
    <h2>Now let's set your goal</h2>

</div>