<footer class="front-office-footer">
    <div class="container-footer">
        <div class="row">
            <div class="col-lg-12 text-center">
                <style>
                    #spotifyIframe {
                        width: 80%;
                        height: 200px;
                    }
                </style>
                <iframe
                    title="Spotify Embed: Recommendation Playlist"
                    id="spotifyIframe"
                    src="about:blank"
                    width="100%"
                    height="360"
                    frameBorder="0"
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"
                ></iframe>
                <p>Copyright &copy; 2024 VITA NOVA<br>
                Designed by MUGGLES<br>
                Distributed by <a rel="nofollow" href="https://esprit.tn" class="tm-text-link" target="_blank">Esprit</a>
                </p>
            </div>
        </div>
    </div>
</footer>