<div class="navbar">
  <app-navbar></app-navbar>
</div>

<div class="content">
  <div class="sidebar">
    <div class="search-filter">
      <input type="text" class="form-control mb-3" placeholder="Search by title" [(ngModel)]="searchTitle" (input)="applyFilters()">
      <p>Filter by category:</p>
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" [(ngModel)]="fruitsSelected" (change)="updateSelectedCategories('Fruits', fruitsSelected)">
        <label class="form-check-label">Fruits</label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" [(ngModel)]="vegetablesSelected" (change)="updateSelectedCategories('Vegetables', vegetablesSelected)">
        <label class="form-check-label">Vegetables</label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" [(ngModel)]="MeatSelected" (change)="updateSelectedCategories('Meats', MeatSelected)">
        <label class="form-check-label">Meat</label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" [(ngModel)]="DairySelected" (change)="updateSelectedCategories('Dairy products', DairySelected)">
        <label class="form-check-label">Dairy</label>
      </div>
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" [(ngModel)]="PlantsSelected" (change)="updateSelectedCategories('Plants', PlantsSelected)">
        <label class="form-check-label">Plants</label>
      </div>
      <div class="mb-3">
        <p>Filter by calories range:</p>
        <input type="number" class="form-control mb-2" placeholder="Min" [(ngModel)]="minCalories">
        <input type="number" class="form-control" placeholder="Max" [(ngModel)]="maxCalories">
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-orange" (click)="filter()">Apply Filters</button>
      </div>

    </div>
  </div>
  <div class="cards">
  <div *ngFor="let food of filteredFoods" class="card">
    <div class="card-body">
      <div class="card-image">
        <img src="{{ food.foodPic }}" alt="Food Image">
      </div>
      <h5 class="card-title">{{ food.title }}</h5>
      <button class="btn btn-success" (click)="openFoodDetailsDialog(food)">
        <i class="fa fa-plus"></i>
      </button>

    </div>
  </div>
  </div>
</div>
