<app-navbar></app-navbar>

<section class="section" id="contact-us">
  
  <div class="container">
    <div class="four">
      
      <h1> Period <em>Tracker</em> </h1>
    </div>

    <div class="cycle-length">
      <div class="two">
        <h1>
          <span>please select your cycle length</span>
        </h1>
        <select id="cycle-length" class="styled-select">
          <option value="28">28 Days</option>
          <option value="30">30 Days</option>
          <option value="32">32 Days</option>
          <!-- Add more options as needed -->
        </select>
      </div>
    </div>

     

    <div class="two">
  <h1>
    <span>please select your last Period StartDate</span>
  </h1>
  
  <div class="calendar">
    <app-calendar [selectedRangeValue]="selectedDateRange"
    (selectedRangeValueChange)="handleDateChange($event)"[min]="today">
</app-calendar> 
<span class="error-message" *ngIf="dateErrorMessage">{{ dateErrorMessage }}</span> 
  </div>
</div>

<div class="two">
  <h1>
    <span>Period Length (Days)</span>
  </h1>
  <input type="number" id="period-length" [(ngModel)]="periodLength">
  <span class="error-message" *ngIf="periodLengthErrorMessage">{{ periodLengthErrorMessage }}</span>
</div>


<div class="calendar-container">
  <div class="symptoms-mood-container">
  <div class="eight">
    <h1>Symptoms</h1>
  </div>
  <label for="symptom1" class="symptom-label">
    <input type="checkbox" id="symptom1" class="symptom-checkbox" (change)="handleSymptomChange('Headache', $event)">
    <span class="emoji">🤕</span> Headache
  </label>
  <div class="rating">
    <span class="star" (click)="handleSymptomChange('Headache', 1)" [class.checked]="selectedSymptoms['Headache'] >= 1">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Headache', 2)" [class.checked]="selectedSymptoms['Headache'] >= 2">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Headache', 3)" [class.checked]="selectedSymptoms['Headache'] >= 3">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Headache', 4)" [class.checked]="selectedSymptoms['Headache'] >= 4">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Headache', 5)" [class.checked]="selectedSymptoms['Headache'] >= 5">&#9733;</span>
  </div>
  <label for="symptom2" class="symptom-label">
    <input type="checkbox" id="symptom2" class="symptom-checkbox" (change)="handleSymptomChange('Fatigue', $event)">
    <span class="emoji">😔</span> Fatigue
  </label>
  <div class="rating">
    <span class="star" (click)="handleSymptomChange('Fatigue', 1)" [class.checked]="selectedSymptoms['Fatigue'] >= 1">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Fatigue', 2)" [class.checked]="selectedSymptoms['Fatigue'] >= 2">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Fatigue', 3)" [class.checked]="selectedSymptoms['Fatigue'] >= 3">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Fatigue', 4)" [class.checked]="selectedSymptoms['Fatigue'] >= 4">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Fatigue', 5)" [class.checked]="selectedSymptoms['Fatigue'] >= 5">&#9733;</span>
  </div>
  <label for="symptom3" class="symptom-label">
    <input type="checkbox" id="symptom3" class="symptom-checkbox" (change)="handleSymptomChange('Cramps', $event)">
    <span class="emoji">😖</span> Cramps
  </label>
  <div class="rating">
    <span class="star" (click)="handleSymptomChange('Cramps', 1)" [class.checked]="selectedSymptoms['Cramps'] >= 1">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Cramps', 2)" [class.checked]="selectedSymptoms['Cramps'] >= 2">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Cramps', 3)" [class.checked]="selectedSymptoms['Cramps'] >= 3">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Cramps', 4)" [class.checked]="selectedSymptoms['Cramps'] >= 4">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Cramps', 5)" [class.checked]="selectedSymptoms['Cramps'] >= 5">&#9733;</span>
  </div>
  <label for="symptom4" class="symptom-label">
    <input type="checkbox" id="symptom4" class="symptom-checkbox" (change)="handleSymptomChange('Mood Swings', $event)">
    <span class="emoji">😠</span> Mood Swings
  </label>
  <div class="rating">
    <span class="star" (click)="handleSymptomChange(' Mood Swings', 1)" [class.checked]="selectedSymptoms[' Mood Swings'] >= 1">&#9733;</span>
    <span class="star" (click)="handleSymptomChange(' Mood Swings', 2)" [class.checked]="selectedSymptoms[' Mood Swings'] >= 2">&#9733;</span>
    <span class="star" (click)="handleSymptomChange(' Mood Swings', 3)" [class.checked]="selectedSymptoms[' Mood Swings'] >= 3">&#9733;</span>
    <span class="star" (click)="handleSymptomChange(' Mood Swings', 4)" [class.checked]="selectedSymptoms[' Mood Swings'] >= 4">&#9733;</span>
    <span class="star" (click)="handleSymptomChange(' Mood Swings', 5)" [class.checked]="selectedSymptoms[' Mood Swings'] >= 5">&#9733;</span>
  </div>
  <label for="symptom5" class="symptom-label">
    <input type="checkbox" id="symptom5" class="symptom-checkbox" (change)="handleSymptomChange('Nausea', $event)">
    <span class="emoji">😞</span> Nausea
  </label>
  <div class="rating">
    <span class="star" (click)="handleSymptomChange('Nausea', 1)" [class.checked]="selectedSymptoms['Nausea'] >= 1">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Nausea', 2)" [class.checked]="selectedSymptoms['Nausea'] >= 2">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Nausea', 3)" [class.checked]="selectedSymptoms['Nausea'] >= 3">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Nausea', 4)" [class.checked]="selectedSymptoms['Nausea'] >= 4">&#9733;</span>
    <span class="star" (click)="handleSymptomChange('Nausea', 5)" [class.checked]="selectedSymptoms['Nausea'] >= 5">&#9733;</span>
  </div>
  <!-- Add more symptoms as needed -->
</div>
</div>
<span class="error-message" *ngIf="symptomErrorMessage">{{ symptomErrorMessage }}</span>


  <div class="calendar-container">
    <div class="mood-selection">        
      <div class="eight">
        <h1>Mood</h1>
      </div>
      <div class="mood-buttons">
      <input type="radio" name="mood" id="happy" value="happy"  [(ngModel)]="mood">
      <label for="happy" class="mood-label">😊 Happy</label>
      
      <input type="radio" name="mood" id="sad" value="sad"  [(ngModel)]="mood">
      <label for="sad" class="mood-label">😢 Sad</label>
      
      <input type="radio" name="mood" id="anxious" value="anxious"  [(ngModel)]="mood">
      <label for="anxious" class="mood-label">😨 Anxious</label>
      
      <input type="radio" name="mood" id="calm" value="calm"  [(ngModel)]="mood">
      <label for="calm" class="mood-label">😌 Calm</label>
  </div>
    </div>
  </div>


    
    <span class="error-message" *ngIf="moodErrorMessage">{{ moodErrorMessage }}</span>
  

  <button id="save-btn" (click)="saveInformation()">Save</button>
  </div>
</section>

<app-footer></app-footer>
<router-outlet></router-outlet>