<div class="dialog-container">
  <h2>Create Workout Plan</h2>
  <form [formGroup]="workoutForm" (ngSubmit)="confirmSelection()">
      <div class="form-group">
        <input type="text" id="title" formControlName="title" class="form-control border-input"
               placeholder="Enter title">
      </div>
    <div class="form-group">
      <label>Body Parts:</label>
      <select multiple class="form-control" [(ngModel)]="selectedBodyParts">
        <option *ngFor="let bodyPart of bodyParts" [ngValue]="bodyPart">{{ bodyPart }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="searchText">Search Exercises:</label>
      <input type="text" id="searchText" [(ngModel)]="searchText" class="form-control">
      <button class="btn btn-primary" (click)="searchExercises()">Search</button>
    </div>
    <div class="exercise-list">
      <div class="exercise-item" *ngFor="let exercise of exercises">
        <label for="{{ exercise.id }}">
          <input type="checkbox" id="{{ exercise.id }}" [checked]="isSelected(exercise)" (change)="selectExercise(exercise)">
          {{ exercise.title }}
        </label>
      </div>
    </div>
    <div class="pagination">
      <button *ngIf="currentPage > 0" (click)="previousPage()" class="btn btn-pagination">
        Previous
      </button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button *ngIf="currentPage < totalPages - 1" (click)="nextPage()" class="btn btn-pagination">
        Next
      </button>
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-primary">Create Workout Plan</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>

  <div class="form-group mt-3">
    <label for="picture">Upload Image:</label>
    <div class="custom-file">
      <input type="file" id="picture" (change)="onFileSelected($event)" class="custom-file-input">
      <label class="custom-file-label" for="picture">Choose an image</label>
    </div>
    <img *ngIf="selectedFile" [src]="getSelectedFileUrl()" alt="Selected Image" class="img-fluid mt-3">
    <small *ngIf="!selectedFile && workoutForm.get('image')?.invalid && workoutForm.get('image')?.touched" class="text-danger">Please choose an image file.</small>
  </div>
</div>
