.dialog-container {
  position: fixed;
  top: calc(50% + 40px); /* Adjusted to position below a header with a height of 60px */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 1000px; /* Adjust width as needed */
  max-width: 90%; /* Ensure the dialog doesn't exceed the viewport width */
  max-height: 90%; /* Ensure the dialog doesn't exceed the viewport height */
  overflow: auto; /* Add overflow property for scrolling */
}

.dialog-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
}

.btn-secondary {
  background-color: #ccc;
  color: #333;
}

.exercise-list {
  margin-bottom: 20px;
}

.exercise-item label {
  display: block;
  cursor: pointer;
}

.pagination {
  margin-bottom: 20px;
}

.btn-pagination {
  margin-right: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}



.form-group {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.exercise-list {
  margin-bottom: 20px;
}

.exercise-item {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
