 <!-- ***** Preloader Start ***** -->

  <!-- ***** Preloader End ***** -->
  
  
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">Training<em> Studio</em></a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#features">About</a></li>
                          <li class="scroll-to-section"><a href="#our-classes">Classes</a></li>
                          <li class="scroll-to-section"><a href="#schedule">Schedules</a></li>
                          <li class="scroll-to-section"><a href="#contact-us">Contact</a></li> 
                          <li class="main-button"><a (click)="signOut()">Sign out</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner" id="top">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/gym-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>work harder, get stronger</h6>
              <h2>easy with our <em>gym</em></h2>
              <div class="main-button scroll-to-section">
                  <a href="#features">Become a member</a>
              </div>
          </div>
      </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->